


/*


.video, .intro, #albums, .info, .footer

 */


/*.header {
  opacity: 1;
	transition: all 0.5s ease;
}

.header.trans {
  opacity: 0.5;
	transition: all 0.5s ease;
}*/

/*.video {
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(50px);
}

.video.fade-in {
	opacity: 1;
	transform: translateY(0);
}*/


.intro {
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateY(50px);
}

.intro.fade-in {
	opacity: 1;
	transform: translateY(0);
}

#albums {
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateY(50px);
}

#albums.fade-in {
	opacity: 1;
	transform: translateY(0);
}
