@charset "UTF-8";
/* Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	margin: 0;
}
/* Reset CSS */

/* 공통 스타일 */
/* 공통 스타일 */

/* ---------------- Header ---------------- */
/* ---------------- Header ---------------- */

/* ---------------- Video ---------------- */
/* ---------------- Video ---------------- */

/* ---------------- Intro ---------------- */
/* ---------------- Intro ---------------- */

/* ---------------- Albums ---------------- */
/* ---------------- Albums ---------------- */

/* ---------------- Info ---------------- */
/* ---------------- Info ---------------- */

/* ---------------- Footer ---------------- */
/* ---------------- Footer ---------------- */
