@charset "UTF-8";
@import "fonts.css";
@import "http://fonts.googleapis.com/earlyaccess/notosanskr.css";
/* ---------------- Reset Style ---------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body, h1, h2, h3, figure {
	margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
	/*padding-top: 60px;*/
}

a {
	text-decoration: none;
}

fieldset {
	margin: 0;
	padding: 0;
}
/* ---------------- //Reset Style ---------------- */

/* ---------------- 공통 스타일 ---------------- */
/* Skip to Albums */
#skip a {
	position: absolute;
	left: -9999em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip a:focus {
	position: static;
	width: auto;
	height: auto;
}
/* Hidden */
.readable-hidden {
	position: absolute;
	left: -9999em;
	overflow: hidden;
}
/* Section 가로폭 설정 */
#albums, .info, .footer {
	width: 1200px;
	margin: 0 auto;
}
/* ---------------- //공통 스타일 ---------------- */

/* ---------------- Header ---------------- */
.header {
  width: 100%;
	max-width: 1920px;
	min-width: 1200px;
  display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px 50px 5px 80px;
	height: 60px;
	background: #fff;
  transition: top 0.2s ease-in-out;
	z-index: 1;
}

.header-logo {
  margin: 0px 10px 5px 20px;
}

.header-logo img {
  width: 135px;
}

.header-display-id {
	font-size: 0.75rem;
	color: #979797;
	margin: auto 5px;
}

.header-search {
  margin: 10px 10px 5px auto;
  font-size: 0;
}

#header-search-input {
	/*vertical-align: top;*/
  width: 200px;
	height: 30px;
	border: 0.5px dotted #c0c0c0;
	border-radius: 5px;
  padding-left: 10px;
}

.header-search-button {
	height: 30px;
  border-style: none;
	background: #ffffff;
	color: #51b1fe;
  cursor: pointer;
}

.sign-in, .sign-up {
  cursor: pointer;
	margin: 10px 5px 5px 5px;
	height: 30px;
}

.sign-in {
  width: 100px;
  font-size: 0.63rem;
	background: none;
  color: #2196F3;
  border-radius: 5px;
  border: 0.5px solid #2196F3;
	text-align: center;
}

.sign-up {
  border: none;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  background: #2196F3;
  display: inline-block;
  font-size: 0.63rem;
	padding: 0.5rem;
	margin-right: 20px;
}

/* ---------------- //Header ---------------- */

/* ---------------- Video ---------------- */

.video {
  width: 100%;
	max-width: 1920px;
	min-width: 1200px;
  margin: auto;
}


.video-main {
	width: 100%;
	height: 100%;
}
/* 반응형 */
 /*.video-main video {
  position: relative;
  width: 100px;
	height: 50px;
}*/
/*.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 720px;
}*/

.video-contents {
  position: absolute;
  font-size: 4.38rem;
  color: #ffffff;
  top: 200px;
  left: 150px;
  margin: 0;
  line-height: 1;
}

.video-title {
  margin: 0;
}

.video-desc {
  font-size: 1.25rem;
  width: 500px;
  line-height: 1.4;
}

/* app-diwnload icon */
.header-app-download {
  position: absolute;
  top: 600px;
  left: 150px;
}

.header-app-store, .header-google-play {
  border: none;
  border-radius: 5px;
  background: #E91E63;
  cursor: pointer;
  margin: 0 10px 10px 0;
	position: relative;
}

.header-app-store:hover, .header-google-play:hover,
.info-app-store:hover, .info-google-play:hover {
	opacity: 0.6;
}


/*.header-app-store img, .header-google-play img {
  height: 30px;
  margin: 0 5px 0 5px;
	vertical-align: top;
}

.header-app-store strong {
	position: absolute;
	top: 23px;
	left: 50px;
	font-size: 0.88rem;
}

.header-google-play strong {
	position: absolute;
	top: 23px;
	left: 53px;
	font-size: 0.88rem;
}*/

/* ---------------- //Video ---------------- */

/* ---------------- Intro ---------------- */

.intro {
  width: 31.25rem;
  margin: 5rem auto;
  text-align: center;
}

.intro-heading {
  font-size: 2.5rem;
	font-weight: bold;
}

/* ---------------- //Intro ---------------- */

/* ---------------- Albums ---------------- */
/* button style */
.button-like, .button-share {
	border: none;
	background: transparent;
	color: #fff;
	cursor: pointer;
	font-size: 0.75rem;
}
.button-like:hover, .button-share:hover {
	color: #2196F3;
}
.button-like::before {
	content: '\e800';
	font-family: 'fontello';
	margin: 0 5px;
	color: #ffffff;
}
.button-share::before {
	content: '\e801';
	font-family: 'fontello';
	margin: 0 5px;
	color: #ffffff;
}
.button-more {
	width: 5rem;
	height: 1.88rem;
	border: 1px solid #fff;
	border-radius: 1.88rem;
	background: transparent;
	font-weight: bold;
	color: #fff;
}
.button-more:hover {
	background: #2196F3;
	border: #2196F3;
	font-weight: bold;
	color: #181818;
	cursor: pointer;
}
/* button style */

.album-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.album, .add-album, .album-count {
	width: 25%;
	height: 0;
	padding-bottom: 25%;
}


/*----------------------------- 수정필요(bg link image)*/
.add-album {
	text-align: center;
	background: #020a16;
}
.add-album-link {
	display: block;
	position: relative;
	padding-bottom: 100%;
	height: 0;
	background: #fff;
	color: #51b1fe;
	font-size: 12rem;
}
.add-album-link:hover {
	background: #51b1fe;
	color: #fff;
}
/*----------------------------- //수정필요*/
.button-wrapper {
	display: flex;
	justify-content: space-around;
}
.album {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.centered {
	font-size: 0;
}
/*----------------------------- 수정필요(bg:gradient)*/
/*.album::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}*/
/*----------------------------- //수정필요*/
.button-more {
	margin-bottom: 1rem;
}
.contents-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-top: 11.3rem;
	text-align: center;
	color: #fff;
}

.album-local-name {
	margin: 0;
	color: rgb(41, 235, 206);
}

.album-title {
	margin: 0 0 20px 0;
}

.button-like, .button-share {
	margin: 0 10px;
}
/* Album Count */
.album-count {
	width: 50%;
	height: 0;
	padding-bottom: 25%;
	background-image: url(../images/section-img-count-01.png);
	text-align: center;
	color: #fff;
}
.album-count-heading {
	margin-top: 5rem;
	font-weight: 300;
}


.album-count-display {
	width: 15rem;
	height: 5rem;
	margin: 1rem auto;
	border: 1px solid #fff;
	border-radius: 5rem;
	text-align: center;
	line-height: 4.5rem;
}
.album-count-number {
	font-size: 3rem;
}
/* //Album Count */
/* ---------------- //Albums ---------------- */

/* ---------------- Info ---------------- */
.info {
	position: relative;
	padding-top: 6.25rem;
	background-image: url(../images/info-img.png);
	background-size: cover;
	text-align: center;
	color: #fff;
	/* 사진 삽입 전 임시 높이 */
	height: 20rem;
}

.info-bg-color {
	position: absolute;
	background: rgba(0, 0, 0, 0.6 );
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.info-contents {
	margin-top: 5rem;
}

.info-contents img {
	width: 250px;
}

.info-desc {
	margin-top: 0;
}

/* app 다운로드 버튼 */
.info-app-download {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-app-store, .info-google-play {
  border: none;
  border-radius: 5px;
  background: #E91E63;
  cursor: pointer;
  margin: 0 10px 0px 10px;
}

/*.info-app-store img, .info-google-play img {
  height: 30px;
  margin: 0 5px 0 5px;
	vertical-align: top;
}

.info-app-store strong {
	position: absolute;
	top: 23px;
	left: 50px;
	font-size: 0.88rem;
}

.info-google-play strong {
	position: absolute;
	top: 23px;
	left: 53px;
	font-size: 0.88rem;
}*/

/* ---------------- //Info ---------------- */

/* ---------------- Footer ---------------- */
.footer {
	width: 1200px;
	background: #000000;
	color: #ffffff;
	position: relative;
}

.footer-heading {
	padding: 20px 5px 5px 30px;
}

.footer-address {
	color: #979797;
	font-style: normal;
	font-size: 0.88rem;
	display: inline-block;
	padding: 5px 5px 5px 30px;
	line-height: 1.3;
}

.footer-address a {
	color: #E91E63;
}

/* SNS Links */
.sns-wrapper {
	position: absolute;
	top: 20px;
	left: 1085px;
}

.facebook-icon img, .instagram-icon img {
	margin: 2px;
	width: 40px;
}
/* //SNS Links */
/* W3C Mark */
.w3c {
	position: relative;
	left: 30px;
	padding-bottom: 10px;
}
/* ---------------- //Footer ---------------- */
